<div id="<%= dom_id airplane %>">
  <p>
    <strong>Name:</strong>
    <%= airplane.name %>
  </p>

  <p>
    <strong>IATA code:</strong>
    <%= airplane.iata_code %>
  </p>

  <p>
    <strong>ICAO code:</strong>
    <%= airplane.icao_code %>
  </p>

</div>
